$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0px;
  padding: 0;
  background-color: #f0efe7;
  color: black;
}

.container{
  padding: 10px;
}

.col-md-6 {
  color: black;
}

.col-sm-12 {
  color: black;
}

.list-heading {
  color: snow;
}
.list-group-item-heading {
 color: black;
}
.list-group-item-text {
  color: black;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  margin: 0px 65px;
  font-family: 'Bree Serif', serif;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0px 65px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .container {
    max-width: none;
  }

  .glyphicon-remove {
    float: right;
    margin-left: 100px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.footer-text {
  color: rgba(0, 0, 0, 0.35);
}

.glyph-button:hover{
  cursor:pointer;
}

div.todo-list-item:hover .glyphicon {opacity: 1;}
div.todo-list-item .glyphicon {opacity: 0;}

.glyph-position {
  float: right;
  position: relative;
  right: 10px;
  top: 8px;
}

.glyph-pencil-position {
  margin-right: 10px;
}

.glyph-color {
  color:black;
}

.list-group-item-heading {
  display: inline-block;
  color:black;
}

.info {
  display: inline-block;
}

.backlog-header {
  background-color: #A7DAEB;
}

.active-header {
  background-color: #EBB8A7;
}

.done-header {
  background-color: #B8EBA7;
}

.modal-title {
  color: black;
}

