<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="login">
    <div class="heading">
      <h2>Create new user</h2>

      <form name="userForm" role="form" class="form-horizontal">

        <div class="row">
          <div class="login-field" ng-controller="LoginCtrl">
            <div class="form-group input-group input-group-lg">
              <span class="input-group-addon" style="background-color:snow"><span class="glyphicon glyphicon-user"
                                                                                  aria-hidden="true"></span></span>
              <input type="text" class="form-control" ng-model="user.username" placeholder="Username" required>
            </div>
            <div class="form-group input-group input-group-lg">
              <span class="input-group-addon" style="background-color:snow"><span class="glyphicon glyphicon-user"
                                                                                  aria-hidden="true"></span></span>
              <input type="text" class="form-control" ng-model="user.firstname" placeholder="Firstname" required>
            </div>
            <div class="form-group input-group input-group-lg">
              <span class="input-group-addon" style="background-color:snow"><span class="glyphicon glyphicon-user"
                                                                                  aria-hidden="true"></span></span>
              <input type="text" class="form-control" ng-model="user.lastname" placeholder="Lastname" required>
            </div>

            <div class="form-group input-group input-group-lg">
              <span class="input-group-addon" style="background-color:snow"><span class="glyphicon glyphicon-lock"
                                                                                  aria-hidden="true"></span></span>
              <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required>
            </div>

            <div>
              <button type="submit" ng-click="newUser(user)" class="btn btn-default btn-success float">Sign up</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
